<%- include('./partials/header') %>
<h1 class="text-middle">Welcome to my webiste</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat quae totam aliquid omnis deserunt, ipsa voluptas laboriosam! Molestias facilis labore dolore voluptates illum, vel, similique rerum perferendis tempora, repudiandae assumenda.</p>


<%- include('./partials/footer.ejs') %>