<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Information Page</title>
</head>
<body>
    <div style="text-align: center;">
    <h1>User information</h1>
    <ul style="margin: auto;">
        <li><%= name%></li>
        <li><%= email%></li>
    </ul>
</div>

</body>
</html>